.profile {
  background-color: white;
  border-radius: 4px;
  max-width: 500px;
  font-family: raleway, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile p {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  font-size: 20px;
}

.profile img {
  height: 200px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hair-type {
  display: flex;
  padding: 20px;
}

.profile-products {
  display: flex;
  padding: 20px;
}

.hair-type ul {
  list-style-type: none;
  padding: 20px;
  list-style-position: inside;
}

.hair-type p {
  padding: 23px;
  text-transform: uppercase;
}

.profile-products ul {
  list-style-type: none;
  padding: 20px;
  list-style-position: inside;
}

.profile-products p {
  padding: 23px;
  text-transform: uppercase;
}
