.signup-container {
  background-color: #e0f391;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.signup-header {
  padding: 50px;
  font-family: "raleway", sans-serif;
  font-size: "300px";
  text-align: center;
}

.signup {
  position: relative;
  justify-content: center;
  margin: 30px auto;
  padding: 20px;
  max-width: 300px;
  border-radius: 10px;
  background: white;
}

.signup input {
  width: 250px;
  margin: 2px;
  padding: 18px 20px;
  font-family: "raleway", sans-serif;
  font-size: 14px;
  text-align: center;
  outline-color: #e0f391;
}

.no-border {
  border: 0;
}

.signup label {
  width: 300px;
  text-align: center;
  margin-bottom: 5px;
}

.signup p {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 800;
}

.signup input.step-one {
  padding: 20px;
  margin: 10px;
  font-family: "ransom-sans", sans-serif;
  font-size: 14px;
  border: 0;
  outline: 1px;
  outline-style: solid;
  cursor: pointer;
}

.signup input.step-one:hover {
  background: black;
  color: white;
}

.active {
  background-color: black !important;
  color: white;
}

.active-img {
  border: 4px solid black !important;
}

.curl-form {
  width: 100%;
}

.curl-image {
  border: 4px solid white;
  margin-top: 10px;
}

.curl-image:hover {
  border: 4px solid black;
}

.btn {
  margin-top: 30px;
  color: white;
  background: black;
  border-radius: 3px;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}

.btn-submit {
  padding: 10px;
  margin: 3px;
  width: 100px;
  height: 37px;
  color: white;
  background: black;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
}

.btn-back {
  height: 30px;
  border-radius: 2px;
  color: white;
  background: black;
  border-radius: 3px;
  cursor: pointer;
}

.btn-next {
  height: 30px;
  border-radius: 2px;
  color: white;
  background: black;
  border-radius: 3px;
  cursor: pointer;
}
