.signup-container {
  background-color: #e0f391;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.signup-header {
  padding: 50px;
  font-family: "calluna";
  font-size: "300px";
  text-align: center;
}

.signup {
  position: relative;
  margin: 40px auto;
  max-width: 130px;
  font-family: "calluna";
  font-size: 16px;
  padding: 25px 208px 47px 30px;
  border-radius: 10px;
  background: white;
}

.signup input {
  display: block;
  width: 208%;
  padding: 20px;
  font-family: "ransom-sans", sans-serif;
  font-size: 14px;
  /* border: 0; */
  outline: 0;
}

.no-border {
  border: 0;
}

.signup label {
  clear: left;
  float: left;
  width: 300px;
  text-align: center;
  margin-bottom: 5px;
}

.signup p {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 800;
}

.signup input.step-one {
  display: block;
  width: 208%;
  padding: 20px;
  margin: 10px;
  font-family: "ransom-sans", sans-serif;
  font-size: 14px;
  border: 0;
  outline: 1px;
  outline-style: solid;
  cursor: pointer;
}

.signup input.step-one:hover {
  background: black;
  color: white;
}

.active {
  background-color: black !important;
  color: white;
}

.active-img {
  border: 4px solid black !important;
}

.curl-form {
  width: 100%;
}

.curl-image {
  border: 4px solid white;
  margin-top: 10px;
}

.curl-image:hover {
  border: 4px solid black;
}

.btn {
  border-radius: 2px;
  color: white;
  background: black;
  border-radius: 3px;
}

.btn-submit {
  height: 30px;
  border-radius: 2px;
  color: white;
  background: black;
  border-radius: 3px;
}

.btn-back {
  height: 30px;
  border-radius: 2px;
  color: white;
  background: black;
  border-radius: 3px;
}

.btn-next {
  height: 30px;
  border-radius: 2px;
  color: white;
  background: black;
  border-radius: 3px;
}
